<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>paintEntry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <!-- Bootstrap core CSS -->
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div>paintEntry, 传递参数ID和图片url
    </div>

    <button onclick="window.location.href='paint.html?id=123&src=../resource/img/ning.jpg'">paint</button>
    <ifream id="paintFrame"></ifream>
</body>

</html>